.featuredSection{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
.featuredSection img{
    clip-path: inset(0% 0% 0% 0%);
}
.featuredSection h6{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Syncopate', sans-serif;
}
.featuredRowLayout, .featuredColumnLayout{
display: grid;
gap:10px;

}
.featuredRowLayout{
    grid-template-rows: repeat(2, auto);
}
.featuredRowLayout img{
    width: 100%;
    object-fit: cover;
}
.featuredColumnLayout{
    grid-template-columns: 100px auto;
    align-items: flex-end;

}
.featuredColumnLayout img{
    width: 100%;
    height: 125vh;
    object-fit: cover;

}
.featuredColumnLayout h6{
    transform: translate(100%) rotate(-90deg);
    transform-origin: left bottom ;
    justify-self: self-end;
}